<%= render "shared/header"%>
<div class='main'>
  <div class='title-contents'>
    <h2 class='service-title'>
      フットサルで繋がろう
    </h2>
    <p class='service-explain'>
      コミュサルはフットサルのチームとチームを繋ぐ
    </p>
    <p class='service-explain'>
      フットサルコミュニケーションアプリです
    </p>

  </div>

<div class="list-btn">
  <%= link_to image_tag("registrations_image.jpg", class:"registrations-image"), new_user_registration_path %>
  <%= link_to image_tag("sessions_image.jpg", class:"sessions-image"), new_user_session_path %>
  <%= link_to image_tag("matching_image.jpg", class:"matching-image"), "#" %>
</div>