<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <%= chat.team.teamname %>
    </div>

    <div class="message-date">
      <%= l chat.created_at %>
    </div>

    <div class="lower-message">
      <div class="message-content">
        <%= chat.message %>
      </div>
    </div>
  </div>
</div>