.message {
  margin: 10px 0 0 0;
}

.messages {
  background-color: rgb(211, 243, 211);
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
  display: block;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.chat-messages-title{
  margin-bottom: 30px;
}