.table{
  width: 60vw;
  margin: 0 auto;
}

.edit_team{
  text-decoration: none;
  color: whitesmoke;
  background-color: orange;
  padding: 10px;
  font-size: 30px;
}

.table__col1{
  text-align: left;
  width: 30vw;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  padding: 8px;
  
}

.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70vw;
  padding: 16px 8px;
  font-size: 20px;
}